<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Início</title>
    <link rel="stylesheet" href="inicio-banner.component.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="bank flex">
          <img
            class="logo"
            src="../../../assets/icones/logo-branca.png"
            alt=""
          />
          <div class="espaco"></div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <h4 class="catchphrase">Simples de abrir, poderoso para gerenciar</h4>
      </div>
    </main>

    <footer>
      <button class="btn login btn-lg btn-block">Entre com sua conta</button>
      <div class="do-register d-flex justify-content-center gap-15">
        <span class="account">Ainda não tem conta?</span>
        <a class="register" href="#">Faça o cadastro</a>
      </div>
    </footer>
  </body>
</html>
