<div class="container-form p-4">
  <h6 class="section-title">Crie sua senha</h6>
  <form [formGroup]="senhaForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <input type="password" class="form-control" formControlName="newPassword" placeholder="Nova senha">
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmar senha">
    </div>

    <div *ngIf="!passwordsMatch() && senhaForm.get('confirmPassword')?.dirty" class="warn-text text-danger">
      As senhas não coincidem.
    </div>

    <ul class="text-muted validation-list validacoes">
      <li [ngClass]="{'valido': hasLength()}">A senha deve ter no mínimo 8 caracteres</li>
      <li [ngClass]="{'valido': hasNumber()}">A senha deve conter ao menos 1 número</li>
      <li [ngClass]="{'valido': hasLowercase()}">A senha deve conter ao menos 1 letra minúscula</li>
      <li [ngClass]="{'valido': hasUpperCase()}">A senha deve conter ao menos 1 letra maiúscula</li>
    </ul>

    <div class="buttons flex">
      <button type="submit" class="botao-principal">Finalizar</button>
      <button  routerLink="/cadastrar/passo-3" class="botao-secundario">Voltar</button>
    </div>
  </form>
</div>
