section {
  background-color: #12115D;
  border-radius: 8px;
  margin: 0 20px;
}

.saldo{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  background: url(../../../assets/saldo-marca-linhas.png) right top no-repeat,
            url(../../../assets/saldo-marca-circulo.png) left bottom no-repeat;
  background-size: contain;
}

.dados{
  flex-direction: column;
}

.dados h4{
  color: #FFFFFF;
  width: 120px;
  margin: auto;
  margin-left: 0;
}

.dados p{
  color: #7F7F7F;
}

.tipo-conta {
  padding-top: 10px;
  margin-bottom: 0;
}

.dados > * > img {
  height: 15px;
  margin: auto 10px;
  cursor: pointer;
}

.rendimento {
  font-size: 14px;
  margin: 0 !important;
}

.rendimento span {
  color: rgba(38, 229, 38, 0.774);
  font-weight: 600;
}

@media (max-width: 390px) {
  .saldo {
    padding: 0 10px;
  }

  .dados {
    transform: scale(.8);
  }
}

@media (min-width: 745px) {
  section{
    border-radius: 0;
    margin: 0;
  }
}

@media (max-height: 700px) {
  .saldo {
    padding: 0 10px;
  }

  .dados {
    transform: scale(.8);
  }
}
