<section>

  <div class="container saldo">
    <div class="dados flex">
      <p class="nome-usuario" style="text-transform: capitalize;">Olá, {{nome}}!</p>
      <div class="flex">
        <h4 *ngIf="saldoVisivel">R$ 1000,00</h4>
        <img *ngIf="saldoVisivel" src="../../../assets/icones/icone-ocultar.png" alt="Ocultar saldo" (click)="toggleVisibilidadeSaldo()">
        <h4 *ngIf="!saldoVisivel">R$ ----,--</h4>
        <img *ngIf="!saldoVisivel" src="../../../assets/icones/icone-mostrar.png" alt="Mostrar saldo" (click)="toggleVisibilidadeSaldo()">
      </div>
      <p *ngIf="saldoVisivel" class="rendimento"><span>+R$ 2,50</span> de rendimento este mês</p>
      <p *ngIf="!saldoVisivel" class="rendimento"><span>+R$ -,--</span> de rendimento este mês</p>
      <p class="tipo-conta">Conta Corrente</p>
    </div>
    <div></div>
  </div>

</section>
