.container-form{
    max-width: 744px;
    margin:auto;
    border-radius: 25px 25px 0px 0px;
    margin-top: -30px;
    background: white;
  }

  .title-form {
    display: flex;
    color: var(--cor-azul-escuro);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.41px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }

  .form-control{
    margin-bottom: 16px;
  }

  .p-4 {
    padding-top: 8px !important;
  }
  
  .create-account {
    display: flex;
    color: var(--cor-azul-escuro);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.41px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  
  .create-account::after {
    content: "";
    border-bottom: 4px solid var(--cor-dourado);
    position: absolute;
    bottom: -5px;
    height: 64px;
    width: 744px;
    max-width: 100vw;
    background: rgba(128, 128, 128, 0.064);
    border-radius: 25px 25px 0px 0px;
  }
  
  input {
    font-size: 13px;
    padding: 22px 12px;
    background: rgba(128, 128, 128, 0.017);
    max-width: 378px;
    margin: auto;
  }

  .validacoes{
    font-size: 13px;
    list-style: none;
    width: 350px;
  }

  small{
    color: red;
  }
  
  .form-group {
    margin-bottom: .7rem;
  }
  
  .btn-criar-conta{
    width: 168px;
    height: 56px;
    padding: 16px 20px;
}



  