<div class="container-form p-4">

    <h6 class="create-account">Abra sua conta</h6>

    <form>
      <div class="form-group">

        <p class="title-form">
            Agora que já temos o seu endereço
            informe seu E-mail e Senha
        </p>

        <small>E-mail inválido!</small>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="E-mail"
        />

        <input
          type="text"
          class="form-control"
          id="senha"
          placeholder="Senha"
        />

        <input
          type="text"
          class="form-control"
          id="repeteSenha"
          placeholder="Repita a Senha"
        />

      </div>

      <div class="validacoes">
        <li>A senha deve conter ao menos 1 número</li>
        <li>A senha deve conter ao menos 1 letra minúscula</li>
        <li>A senha deve conter ao menos 1 letra maiúscula</li>
        <li>A senha deve ter no mínimo 8 caracteres</li>
      </div>

      <div class="buttons justify-content-center text-center d-flex gap-3 mt-5">
        <button  routerLink="/cadastrar/passo-2" type="submit"  class="btn botao-secundario btn-lg btn-criar-conta">
          Voltar
        </button>
        <button  routerLink="/cadastrar/passo-3" type="submit" class="btn botao-principal btn-lg btn-criar-conta">
          Próximo
        </button>
      </div>

    </form>

  </div>



