.conteudo {
  max-height: calc(100vh - 55px);
  overflow: hidden;
}

.espaco-header {
  height: 55px;
}

@media (max-width: 744px) {
  .conteudo {
    max-height: calc(100vh - 55px);
    overflow: auto;
  }

  app-menu-lateral {
    position: absolute;
    top: 55px;
    transform: translateX(-2000px);
    transition: transform 0.3s ease;
  }

  .menu-open {
    transform: translateX(0);
  }
}

@media (min-width: 744px) {
  .espaco-header {
    display: none;
  }
}
