div {
  max-width: 100vw;
}

img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

@media (max-width: 390px) {
 img {
  height: 400px;

  width: inherit;
 }
}


.banner-full {
  background: url('../../../assets/banner/capibank-banner.jpg');
  background-position: 47% top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.055);
}
