header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-branco);
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 9000;
}

.menu-icon {
  align-items: center;
}

.menu-icon,
.notification-icon {
  height: 35px;
  border: solid 1px rgba(0, 0, 0, 0.060);
  border-radius: 5px;
  padding: 6px;
  margin: 0;
  cursor: pointer;
}

.logo {
  width: 125px;
}

.logout {
  display: none;
  color: var(--cor-cinza);
  margin-left: 10px;
}

@media (min-width: 744px) {
  header {
    position: inherit;
  }

  .logo {
    width: 150px;
  }

  .menu-icon {
    display: none;
  }

  .notification-icon {
    margin-left: auto;
    margin-right: 10px;
  }

  .logout {
    display: inline-block;
  }
}
