<div class="container p-4">
  <h6 class="section-title">Recupere sua senha</h6>
    <form [formGroup]="formRecuperarSenha">
    <div class="form-group">
      <p class="what-email">Qual o seu email de cadastro?</p>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email "
      />

      <div *ngIf="formRecuperarSenha.get('email')?.hasError('email') && formRecuperarSenha.get('email')?.touched" class="warn-text text-danger" >
        Por favor informe um email válido
      </div>
    </div>

    <div class="buttons justify-content-center text-center m-6">
      <button routerLink="/recuperar/passo-2" type="submit" class="btn botao-principal btn-lg btn-block">
        Enviar código para email
      </button>
      <button type="submit" class="btn botao-secundario  btn-lg btn-block">
        Voltar 
      </button>
      
    </div>
  </form>
</div>
