<section class="container">
  <h2>Nossos pilares</h2>
  <article class="flex">
    <div>
      <h3>Conservação Ambiental</h3>
      <p>O Projeto CapVida visa conservar o habitat das capivaras, protegendo áreas naturais críticas e monitorando suas populações com tecnologias avançadas. Além disso, promove campanhas educativas para conscientização sobre a importância das capivaras no ecossistema e para incentivar a coexistência pacífica entre humanos e a vida selvagem.</p>
    </div>

    <img src="../../../assets/banner/capivida.jpeg" alt="Capivida Logo">
  </article>

  <article class="flex">
    <div>
      <h3>Desenvolvimento Sustentável</h3>
      <p>Alcançado através do engajamento comunitário, estabelecendo parcerias para promover a coexistência harmoniosa entre humanos e capivaras, evitando conflitos e incentivando a proteção mútua. Implementamos práticas turísticas responsáveis e também são estabelecidos programas de cuidado veterinário para garantir a saúde das capivaras e prevenir doenças.</p>
    </div>

    <img src="../../../assets/banner/capivara-imagem1.jpg" alt="Capivaras">
  </article>

  <article class="flex">
    <div>
      <h3>Governança Eficaz</h3>
      <p>Colabora com órgãos governamentais para fortalecer e implementar legislação ambiental que proteja as capivaras e seu habitat. Além disso, desenvolve planos de contingência para mitigar riscos ambientais, como desastres naturais e mudanças climáticas. Por fim, assegura a transparência nas ações do projeto e a responsabilidade na utilização dos recursos financeiros, garantindo um compromisso sólido com a sustentabilidade e a conservação da vida selvagem.</p>
    </div>

    <img src="../../../assets/banner/capivara-imagem3.png" alt="Capivara acenando">
  </article>

</section>
