.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 0px 132px -1px #ededed;
  }
  
  .footer figure {
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 11px;
  }
  
  .footer figure:hover {
    transform: translateY(-5px);
  }
  .footer figcaption:hover{
    cursor: pointer;
  }
  
  .footer img {
    width: 40px;
    height: auto;
    cursor: pointer;
  }

  @media (min-width: 600px) {
    .footer {
      display: none;
    }
  }