<div class="container-form p-4">

  <h6 class="section-title">Entre com sua conta</h6>

    <form [formGroup]="formLogin" (submit)="autenticar()">

      <div class="form-group">

        <input
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email">

        <div *ngIf="formLogin.get('email')?.hasError('email') && formLogin.get('email')?.touched" class="warn-text text-danger" >
          Por favor informe um email válido
        </div>

        <div class="text-danger warn-text" *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched">
          Informe um email para prosseguir
        </div>

      </div>
      <div class="form-group">
        <input
        formControlName="senha"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Senha">
        <div class="text-danger warn-text"  *ngIf="formLogin.get('senha')?.invalid && formLogin.get('senha')?.touched">Senha obrigatória</div>
      </div>

      <div *ngIf="errorMessage" class="warn-text text-danger">{{ errorMessage }}</div>


      <div class="buttons justify-content-center text-center">
        <button [disabled]="!formLogin.valid" type="submit" class="btn botao-principal btn-lg btn-block">Entrar</button>
        <button routerLink="/" type="button" class="botao-secundario btn-lg btn-block show-on-mobile">Voltar</button>
      </div>
    </form>

    <a class="forgot-password" routerLink="/recuperar/passo-1">Esqueci minha senha</a>
    <div class="register d-flex gap-15">
      <span class="account">Ainda não tem conta?</span>
      <a routerLink="/cadastrar/passo-1">Faça seu cadastro</a>
    </div>
  </div>
