<div class="bg">

  <header class="container">
    <div class="flex">

      <a routerLink="/home">
        <img class="logo" src="../../../assets/icones/logo-branca.png" alt="">
      </a>

      <nav>
        <ul class="flex">
          <li><a routerLink="/home">Para empresa</a></li>
          <li><a routerLink="/capivida">CapiVida</a></li>
        </ul>
      </nav>

      <div class="buttons flex">
        <button routerLink="/login"  class="botao-banner">
          Login
        </button>
        <button routerLink="/cadastrar/passo-1"  class="botao-banner">
          Fazer conta
        </button>
      </div>
    </div>
  </header>
</div>
