<div class="bg">

  <header class="container">
    <div class="flex">

      <img class="logo" src="../../../assets/icones/logo-branca.png" alt="">

      <nav>
        <ul class="flex">
          <li><a href="">Para empresa</a></li>
          <li><a href="">Serviços</a></li>
          <li><a href="">CapiVida</a></li>
        </ul>
      </nav>
<!-- 
      <div class="buttons">
        <button class="botao-banner">Login</button>
        <button class="botao-banner">Fazer conta</button>
      </div> -->

      <div class="buttons flex">
        <button routerLink="/cadastrar/passo-1"  class="botao-banner">
          Login
        </button>
        <button routerLink="/cadastrar/passo-3"  class="botao-banner">
          Fazer conta
        </button>
      </div>
    </div>
  </header>
</div>
