<p>esqueci-senha-login works!</p>
<!-- Component ja feito, basta somente modificar o codigo abaixo -->
<!-- Formulario pronto com valicoes na pagina de recuperar senha -->

<div class="container-form p-4">
  <h6 class="login">Entre com sua conta</h6>
  <form>
    <div class="form-group">
      <h6>Qual é o seu email de cadastro?</h6>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
      />
    </div>

    <div class="buttons justify-content-center text-center">
      <button type="submit" class="btn botao-principal btn-lg btn-block">
        Enviar código para e-mail
      </button>
      <button type="submit" class="btn botao-secundario btn-lg btn-block">
        Voltar
      </button>
    </div>
  </form>
</div>
