<div class="container-form p-4">

  <div class="section-top">
    <h2>Segurança Online</h2>

    <h3>Políticas de Senhas Fortes:</h3>
    <ul>
      <li>Mantemos rigorosas políticas de senhas fortes para proteger as contas de nossos clientes contra acessos não autorizados. Essas políticas visam fortalecer a autenticação e mitigar os riscos de violação de segurança.</li>
    </ul>

    <h3>Requisitos de senha:</h3>
    <ul>
      <li>As senhas devem ter no mínimo 8 caracteres.</li>
      <li>Deve conter pelo menos 1 número.</li>
      <li>Deve conter pelo menos 1 letra minúscula e 1 letra maiúscula.</li>
    </ul>

    <h3>Troca regular de senhas:</h3>
    <ul>
      <li>Incentivamos nossos clientes a trocar suas senhas regularmente como uma medida preventiva adicional. Isso reduz a probabilidade de que senhas comprometidas sejam usadas de forma maliciosa.</li>
    </ul>

    <h3>Importância da política de senhas fortes:</h3>
    <ul>
      <li>Uma senha forte é a primeira linha de defesa contra invasores cibernéticos. Ao adotar uma senha robusta, reduzimos significativamente o risco de acesso não autorizado às contas dos clientes.</li>
      <li>Além disso, ao garantir que as senhas atendam aos requisitos estabelecidos, protegemos não apenas os dados pessoais dos clientes, mas também suas transações financeiras e informações confidenciais.</li>
    </ul>

    <h3>Tempo de Login:</h3>
    <ul>
      <li>Implementamos medidas de segurança adicionais, como restrições de tempo de login, para proteger ainda mais as contas dos clientes. Isso significa que após um determinado período de inatividade, o sistema pode solicitar uma nova autenticação para garantir que a sessão seja mantida segura.</li>
      <li>Em resumo, nossas políticas de segurança e senhas fortes são projetadas para proteger as contas dos clientes contra ameaças cibernéticas, garantindo um ambiente online seguro e confiável para todas as transações e interações.</li>
    </ul>
  </div>
</div>


