.buttons {
  flex-direction: row-reverse;
}

input[formControlName="cep"] {
  width: 70% !important;
}

.procurar-cep {
  width: 30% !important;
  height: 46px;
  background-color: var(--cor-azul-claro);
}

@media (max-width: 390px) {
  input[formControlName="cep"] {
    width: 50% !important;
  }

  .procurar-cep {
    width: 50% !important;
  }
}
