.grid {
  grid-template-areas:
  "saque saque saque";
  padding: 0;
}

app-menu-lateral {
  grid-area: menu-lateral;
}

app-saque {
  grid-area: saque;
  height: 72vh;
  overflow-y: auto;
}

@media (max-width: 744px) {
  app-menu-lateral {
    position: absolute;
    top: 55px;
    transform: translateX(-2000px);
    transition: transform 0.3s ease;
  }

  .menu-open {
    transform: translateX(0);
  }
}

@media (min-width: 745px)  {
  .grid {
    grid-template-areas:
    "menu-lateral saque saque";
    grid-template-columns: 1fr 4fr;
  }
}
