<div class="container-form p-4">
  <h6 class="login">Entre com sua conta</h6>
  <form>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <div class="justify-content-center text-center">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Entrar
      </button>
      <button type="submit" class="btn btn-secundary btn-lg btn-block">
        Voltar
      </button>
    </div>
  </form>
  <a class="forgot-password" href="#">Esqueci minha senha</a>
  <div class="row d-flex justify-content-center">
    <span class="account col-4">Ainda não tem conta?</span>
    <a class="register col-4" href="#">Faça seu cadastro</a>
  </div>
</div>
