<div class="container-form p-4 ">
  <h6 class="login">Entre com sua conta</h6>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="justify-content-center text-center">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Fazer Login</button>
    </div>
  </form>
    <a class="forgot-password" href="#">Esqueci minha senha</a>
    <div class="row justify-content-between">
      <span class="account col-4">Ainda não tem conta?</span>
      <a class="register col-4" href="#">Faça seu cadastro</a>

    </div>
    <div mt-4>
      <i class="bi bi-lock"></i>
      <small>Secure Banking - Privacy Policy</small>
    </div>

</div>
