<div class="container">

  <div class="section-top">
    <h2>Transações</h2>
    <div routerLink="/cliente/historico" class="see-all">Veja tudo</div>
  </div>

  <table>
    @for (item of transacoes; track $index) {
      <tbody>
        <tr class="rowTransacao">
          <td class="icone-transacao" [class]="{'col1Saida': item.transacaoTipo === 1, 'col1Entrada': item.transacaoTipo === 0 }">
          </td>
          <td class="col2">
            <div class="tipo-de-transacao">{{item.tipo}}</div>
            <div class="descricao">{{item.motivo}}</div>
          </td>
          <td class="col3">
            <div [class]="{'itemValorSaida': item.transacaoTipo == 1, 'itemValorEntrada': item.transacaoTipo == 0 }">{{formatarValorTransacao(item)}}</div>
            <div class="descricao">{{item.data}}</div>
          </td>
        </tr>
        <hr class="divider">
      </tbody>
    }
  </table>

</div>
