<div class="container">

  <div class="section-top">
    <h2>Transações</h2>
    <div routerLink="/cliente/historico" class="see-all">Veja tudo</div>
  </div>

  <table>
    <tbody>
      <tr *ngFor="let item of transacoes.reverse(); let i = index" class="rowTransacao">

        <td class="icone-transacao" *ngIf="item.tipoTransacao === 1 || item.tipoTransacao === 4" class="col1Entrada"></td>
        <td class="icone-transacao" *ngIf="item.tipoTransacao === 2 || item.tipoTransacao === 3" class="col1Saida"></td>
        <td class="col2">
          <div class="tipo-de-transacao" *ngIf="item.tipoTransacao === 1">Depósito</div>
          <div class="tipo-de-transacao" *ngIf="item.tipoTransacao === 2">Saque</div>
          <div class="tipo-de-transacao" *ngIf="item.tipoTransacao === 3">Transferência enviada</div>
          <div class="tipo-de-transacao" *ngIf="item.tipoTransacao === 4">Transferência recebida</div>
          <div class="descricao">{{ item.titularContaDestino?.nome }}</div>
        </td>
        <td class="col3">
          <div class="itemValorEntrada" *ngIf="item.tipoTransacao === 1">+ R$ {{item.valor  | number: '1.2-2'}}</div>
          <div class="itemValorSaida" *ngIf="item.tipoTransacao === 2">- R$ {{item.valor  | number: '1.2-2'}}</div>
          <div class="itemValorSaida" *ngIf="item.tipoTransacao === 3">- R$ {{item.valor  | number: '1.2-2'}}</div>
          <div class="itemValorEntrada" *ngIf="item.tipoTransacao === 4">+ R$ {{item.valor  | number: '1.2-2'}}</div>

          <div class="descricao">{{ item.dataTransacao | date: 'dd/MM/yy - HH:mm' }}</div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
