<div class="container-form p-4">
  <h6 class="section-title">Qual o valor do depósito?</h6>
    <form [formGroup]="deposito" (ngSubmit)="depositarValor()">
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          formControlName="valor"
          placeholder="R$ 0,00"
        />
      </div>

    <div *ngIf="errorMessage" class="warn-text text-danger">{{ errorMessage }}</div>

    <div class="buttons flex">
      <button [disabled]="!deposito.valid" type="submit" class="botao-principal">
        Confirmar valor
      </button>
      <button routerLink="/cliente" class="botao-secundario">
        Voltar
      </button>
    </div>
  </form>
</div>
