header {
  background-color: var(--cor-azul-medio);
  color: white;
  min-height: 230px;
}

header, .flex {
  width: 100vw;
}

button {
  border: none;
  background: none;
}

.icone-voltar-branco {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.229);
  width: 40px;
  padding: 5px;
}

.espaco {
  border: none;
  width: 40px;
}

.bi-arrow-left-short {
  color: white;
}

.welcome {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.bank {
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  width: 124px;
  object-fit: contain;
}

.welcome-div{
  margin-top: -30px;
}

@media screen and (min-width: 744px) {
  .bank {
    display: none;
  }

  .welcome-div{
    margin-top: 120px;
    text-align: center;
    width: 100%;
  }

  header {
    max-width: 50vw;
    width: 100vw;
  }

}

@media (max-width: 744px) and (max-height: 700px) {

  .welcome-div{
    margin-top: -22px;
  }

  header {
    width: 100vw;
    min-height: 170px;
  }
}

@media (max-height: 700px) {
  header .container {
    margin-top: -120px !important;
  }
}
