<div class="container">
    <div>
        <a href="">
            <img src="../../../assets/icones/icone-pix-2.png" alt="">
            <p>Pix</p>

        </a>
        <a href="">
            <img src="../../../assets/icones/icone-transferencia-2.png" alt="">
            <p>Transferência</p>
        </a>
    </div>
    <div>
        <a href="">
            <img src="../../../assets/icones/icone-boleto.png" title="Pagar Boleto">
            <p>Pagar Boleto</p>
        </a>
        <a href="">
            <img src="../../../assets/icones/icone-investir.png" title="Investir">
            <p>Investir</p>
        </a>
    </div>
</div>