.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 1px;
    width: 135%; 
    box-sizing: border-box;
}

.header h2 {
    font-weight: bold;
    margin: 0;
}

.see-all {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.icons-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center; /* Adicionado para centralizar verticalmente os ícones */
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    width: 500px;
}

.icon img {
    width: 70px; /* Reduzido o tamanho das imagens dos ícones */
    height: auto; /* Altura automática para manter a proporção */
}

.icon p {
    margin: 10px 0 0 0;
}
.container{
    margin-top:20px;
}