<div class="container">
    <div class="header">
        <h2>Acesso rápido</h2>
        <div routerLink="/historico" class="see-all">Veja tudo</div>
    </div>

    <div class="grid">
      <div class="icon">
        <a href="">
            <img src="../../../assets/icones/icone-transferencia.png" alt="">
            <p>Transferência</p>
        </a>
      </div>
      <div class="icon">
          <a href="">
              <img src="../../../assets/icones/icone-pix-2.png" alt="">
              <p>Pix</p>
          </a>
      </div>
      <div class="icon">
          <a href="">
              <img src="../../../assets/icones/icone-investir.png" title="Investir">
              <p>Investir</p>
          </a>
      </div>
      <div class="icon">
          <a href="">
              <img src="../../../assets/icones/icone-boleto.png" title="Pagar Boleto">
              <p>Pagar Boleto</p>
          </a>
      </div>
    </div>
</div>
