<!-- TODO Preparar rotas -->

<main>
    <app-cabecalho-login></app-cabecalho-login>

    <!-- RECUPERAR SENHA -->
    <!-- 1ª tela - Feito - envio de codigo -->
    <app-formulario-recuperar-pg-um></app-formulario-recuperar-pg-um>

    <!-- TODO 2ª tela - nova senha -->
    <!-- <app-formulario-recuperar-pg-dois></app-formulario-recuperar-pg-dois> -->

    <!-- 3ª tela - Feito - senha alterada -->
    <!-- <app-formulario-recuperar-pg-tres></app-formulario-recuperar-pg-tres> -->

    <app-rodape-login></app-rodape-login>
</main>
