<!-- TODO Preparar rotas -->

<main>
    <app-cabecalho-login></app-cabecalho-login>

    <!-- RECUPERAR SENHA -->
    <!-- 1ª tela - Feito - envio de codigo -->
    <!-- <app-formulario-recuperar-codigo></app-formulario-recuperar-codigo> -->
    
    <!-- TODO 2ª tela - nova senha -->
    <app-formulario-recuperar-criar-nova-senha></app-formulario-recuperar-criar-nova-senha>
    
    <!-- 3ª tela - Feito - senha alterada -->
    <!-- <app-criar-conta-link></app-criar-conta-link> -->

    <app-rodape-login></app-rodape-login>
</main>