<section>
  <nav class="sidebar flex">
    <a class="nav-link" (click)="onLinkClick()" routerLink="/cliente">
      <img src="../../../assets/icones/icone-inicio-azul.png"><p>Início</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/cliente/historico">
      <img src="../../../assets/icones/icone-transacoes-azul.png"><p>Transações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/cliente/config">
      <img src="../../../assets/icones/icone-config-azul.png" ><p>Configurações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/cliente/chamado">
      <img src="../../../assets/icones/icone-contato-azul.png"><p>Ajuda</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/cliente/seguranca">
      <img src="../../../assets/icones/icone-seguranca.svg"><p>Segurança</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="logout()" routerLink="/login">
      <img src="../../../assets/icones/icone-logout.svg"><p>Sair da conta</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <!-- <a class="nav-link" (click)="onLinkClick()" routerLink="/login">
      <img src="../../../assets/icones/icone-cartoes-azul.png" ><p>Meus Cartões</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a> -->
    <!-- <a class="nav-link" (click)="onLinkClick()" routerLink="/login">
      <img src="../../../assets/icones/icone-compartilhar-azul.png"><p>Compartilhe</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a> -->
  </nav>
</section>
