<div class="container-form p-4">

    <h6 class="section-title">Abra sua conta</h6>

    <form>
      <div class="form-group">

        <p class="form-title">Me fale um pouco sobre você</p>

        <input
            formControlName="nome"
            type="text"
            class="form-control"
            placeholder="Nome Completo"
        />

        <input
            type="number"
            class="form-control"
            id="cpf"
            placeholder="CPF"
            minlength="11"
            maxlength="12"
        />

        <input
          formControlName="email"
          type="text"
          class="form-control"
          id="email"
          placeholder="E-mail" />
      </div>

      <div class="buttons flex">
        <button routerLink="/cadastrar/passo-2"  type="submit" class="botao-principal">
          Próximo
        </button>
        <button routerLink="/login" type="submit" class="botao-secundario">
          Voltar
        </button>
      </div>

    </form>

  </div>

