<div class="container-form p-4">
  <h6 class="section-title">Abra sua conta</h6>
  <form [formGroup]="passoUmForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <p class="form-title">Me fale um pouco sobre você</p>
      <input formControlName="nome" type="text" class="form-control" placeholder="Nome Completo" />
      <input formControlName="cpf" type="text" class="form-control" placeholder="CPF" minlength="11" maxlength="11" (input)="onCpfInput($event)" (blur)="onBlurCpf()" />
      <input formControlName="email" type="text" class="form-control" placeholder="E-mail" (blur)="onBlurEmail()"/>
    </div>
    <div *ngIf="errorMessage" class="warn-text text-danger">{{ errorMessage }}</div>
    <div class="buttons flex">
      <button type="submit" class="botao-principal">Próximo</button>
      <button routerLink="/login" type="submit" class="botao-secundario">Voltar</button>
    </div>
  </form>
</div>
