<section class="flex" [ngClass]="{'visible': showBanner, 'hidden': !showBanner}">

  <img class="logo" src="../../../assets/icones/logo-branca.png" alt="Logo Capibank"/>

  <div class="buttons flex gap-15 justify-center-center">
    <p class="catchphrase">Simples de abrir, poderoso para gerenciar</p>

    <button (click)="toggleBanner()" routerLink="/login" class="btn botao-banner btn-lg btn-block">Entre com sua conta</button>

    <div class="register d-flex gap-15">
      <span class="account">Ainda não tem conta?</span>
      <!-- TODO href="#" tirar todos -->
      <a (click)="toggleBanner()" routerLink="/cadastrar/passo-1">Faça o cadastro</a>
    </div>
  </div>

</section>
