<section>
  <nav class="sidebar flex">
    <a class="nav-link" (click)="onLinkClick()" routerLink="/admin">
      <img src="../../../assets/icones/icone-inicio-azul.png"><p>Visão Geral</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/admin/clientes">
      <img src="../../../assets/icones/icone-usuario.svg"><p>Gerenciamento de Clientes</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/admin/transacoes">
      <img src="../../../assets/icones/icone-transacoes-azul.png"><p>Transações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/admin/relatorios">
      <img src="../../../assets/icones/icone-relatorio.svg"><p>Relatórios</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="onLinkClick()" routerLink="/admin/configuracoes">
      <img src="../../../assets/icones/icone-config-azul.png" ><p>Configurações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" (click)="logout()" routerLink="/login">
      <img src="../../../assets/icones/icone-logout.svg"><p>Sair da conta</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
  </nav>
</section>
