<div class="mockup flex">
  <img src="https://github.com/barbaradamasdev/capibank-hackadev/blob/main/Documenta%C3%A7%C3%A3o/Digital-mockup-02.png?raw=true" alt="Tela Final">
</div>

<section class="container">
  <div>
    <h1><img src="https://cdn3.iconfinder.com/data/icons/cute-pet-sticker/512/Capybara-512.png" alt="MarineGEO circle logo" style="height: 30px; width:30px;"/> Capibank - Projeto Fintech - Sharp Troopers</h1>

    <h2>🌐 Visão Geral</h2>

    <p>Bem-vindo ao Capibank, um projeto fintech desenvolvido pela equipe Sharp Troopers como parte do Bootcamp SharpCoders. Este projeto tem como objetivo simular um ambiente de desenvolvimento do mundo real usando a metodologia Scrum. A equipe utilizou várias ferramentas e tecnologias para criar uma solução financeira, combinando habilidades em Angular e C#.</p>

    <p><strong>🚀 Objetivos:</strong></p>
    <ul>
      <li>Avaliar e aprimorar as habilidades de trabalho em equipe dos participantes.</li>
      <li>Estimular o desenvolvimento de habilidades interpessoais (Soft Skills).</li>
      <li>Facilitar o crescimento técnico dos membros da equipe.</li>
      <li>Permitir a avaliação dos alunos com o apoio de monitores.</li>
      <li>Criar um ambiente simulado que reproduza os desafios e dinâmicas de uma empresa.</li>
    </ul>

    <!-- TODO atualizar login e senha -->
    <p><a href="https://capibank.vercel.app/">👑 <strong>Deploy do projeto</strong></a></p>
    <p>Login: sharp&#64;gmail.com<br>Senha: admin123</p>

    <hr>
    <h2>📋 Detalhes do Projeto</h2>

    <ul>
      <li><strong>Nome:</strong> Capibank</li>
      <li><strong>Tipo:</strong> Fintech</li>
      <li><strong>Metodologia:</strong> Scrum</li>
      <li><strong>Controle de Versão:</strong> GitFlow</li>
      <li><strong>Frontend:</strong> Angular</li>
      <li><strong>Backend:</strong> C#</li>
      <li><strong>Gerenciamento de Projeto:</strong> Trello</li>
      <li><strong>Design de Telas:</strong> Figma</li>
      <li><strong>Documentação:</strong> Notion</li>
      <li><strong>Comunicação:</strong> Discord, WhatsApp</li>
      <li><strong>IDE:</strong> Visual Studio Code</li>
      <li><strong>Repositório:</strong> <a href="https://github.com/barbaradamasdev/capibank-hackadev">Repositório GitHub do Capibank</a></li>
    </ul>
  </div>
  <hr>
  <div class="flex">
    <div>
      <h2>🚀 Etapas de Produção</h2>

      <h3>🔍 Benchmark</h3>

      <ul>
        <li>Pesquisa: entender cores, marca e sites</li>
        <li>Idealização da marca, logo, cores</li>
      </ul>

      <h3>🎨 Processo Criativo</h3>

      <ul>
        <li>Telas priorizando UX/UI e responsividade, usando Figma</li>
        <li>Aplicação prática utilizando Angular</li>
      </ul>

      <h3>💻 Fase de Produção de Código</h3>

    <ul>
      <li>Implementação das telas</li>
      <li>Desenvolvimento utilizando Angular e C#</li>
    </ul>

    <h3>🎨 Identidade Visual</h3>

    <p>A identidade visual do Capibank se baseia em elementos distintivos que capturam essencialmente a essência do projeto:</p>

    <ul>
      <li><strong>Capivara como Símbolo:</strong>
         A escolha da capivara como mascote destaca valores essenciais, como a importância do trabalho em equipe, a tranquilidade que inspira confiança e segurança, e a adaptação, simbolizando flexibilidade e resiliência.</li>
      <li><strong>CapiBank:</strong>
      O nome "CapiBank" foi estrategicamente escolhido para contribuir para a distinção da marca no mercado. Ele não apenas se associa à capivara para gerar empatia e curiosidade, mas também é facilmente memorizável.</li>
      <li><strong>Logo Minimalista:</strong>
        A logo apresenta uma moeda com silhueta minimalista, acompanhada por um ponto final, transmitindo uma sensação de decisão e segurança, essenciais no contexto financeiro.</li>
      <li><strong>Combinação de Cores Sofisticada:</strong>
          A paleta de cores, composta por um azul escuro que transmite confiança e profissionalismo, e um dourado que adiciona um toque de elegância, contribui para a sofisticação e impacto visual da identidade.</li>
    </ul>

    <p>Esses elementos combinados refletem a originalidade e unicidade da marca no setor financeiro, fortalecendo sua presença e conexão com o público-alvo.</p>

  </div>
  <img class="mobile" src="../../../assets/banner/mobile_capibank.png" alt="">
  </div>
</section>
