<div class="container p-4">

    <h6 class="section-title">Abra sua conta</h6>

    <form>
      <div class="form-group">

        <p class="form-title">Me fale um pouco sobre você</p>

        <input
            formControlName="nome"
            type="text"
            class="form-control"
            placeholder="Nome Completo"
        />

        <input
            type="text"
            class="form-control"
            id="dataNascimento"
            placeholder="dd/mm/aaaa"
            (input)="formatarDataNascimento($event)"
            (keypress)="apenasNumeros($event)"
            maxlength="10"
        />

        <input
            type="text"
            class="form-control"
            id="telefone"
            placeholder="Telefone"
            (input)="formatarTelefone($event)"
            (keypress)="apenasNumeros($event)"
            maxlength="17"
        />
      </div>

      <div class="buttons text-center d-flex gap-3 mt-5">
        <button routerLink="/login" type="submit" class="btn botao-secundario btn-lg btn-criar-conta">
          Voltar
        </button>
        <button routerLink="/cadastrar/passo-2"  type="submit" class="btn botao-principal btn-lg btn-criar-conta">
          Próximo
        </button>
      </div>

    </form>

  </div>

