<div class="container">
    <div class="section-top">
        <h2>Acesso rápido</h2>
        <div routerLink="/cliente/historico" class="see-all">Veja tudo</div>
    </div>

    <div class="grid">
      <div class="icon">
        <a routerLink="/cliente/nova/transferencia">
            <img src="../../../assets/icones/icone-transferencia.png" alt="Transferência">
            <p>Transferência</p>
        </a>
      </div>
      <div class="icon">
          <a routerLink="/cliente/nova/deposito">
              <img src="../../../assets/icones/icone-sacar.png" alt="Depósito">
              <p>Depósito</p>
          </a>
      </div>
      <div class="icon">
          <a routerLink="/cliente/nova/saque">
              <img src="../../../assets/icones/icone-investir.png" title="Saque">
              <p>Saque</p>
          </a>
      </div>
      <!-- <div class="icon">
          <a routerLink="/cliente/nova">
              <img src="../../../assets/icones/icone-boleto.png" title="Pagar Boleto">
              <p>Pagar Boleto</p>
          </a>
      </div>
      <div class="icon">
        <a routerLink="/cliente/nova">
            <img src="../../../assets/icones/icone-pix-2.png" alt="Pix">
            <p>Pix</p>
        </a>
    </div> -->
    </div>
</div>
