<!-- Component ja feito, basta somente modificar o codigo abaixo -->
<div class="container-form p-4">
    <h6 class="login">Entre com sua conta</h6>
    <form>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Senha"
        />
      </div>
  
      <div class="buttons justify-content-center text-center">
        <button type="submit" class="btn botao-principal btn-lg btn-block">
          Entrar
        </button>
        <button type="submit" class="btn botao-secundario btn-lg btn-block">
          Voltar
        </button>
      </div>
    </form>

    <a class="forgot-password" href="#">Esqueci minha senha</a>
    <div class="d-flex justify-content-center gap-15">
      <span class="account">Ainda não tem conta?</span>
      <a class="register" href="#">Faça seu cadastro</a>
    </div>
  </div>
  