<section class="container">
  <h2>A solução completa para pagamentos do seu negócio</h2>
  <h3>Vendas descomplicadas com a Capibank Maquininha.</h3>

  <article class="flex">

    <div>
      <p>Com a <strong>Capibank Maquininha</strong>, você recebe pagamentos com rapidez e segurança, com uma taxa competitiva de apenas <strong>1,99% por transação.</strong></p>
      <p><strong>Sem aluguel, sem fidelidade</strong>, você só paga quando usa. E o melhor: aceitamos todas as bandeiras, para que você possa atender a todos os seus clientes.</p>
      <ul>
        <li><strong>Fácil de usar</strong>: Basta plugar na tomada e começar a vender.</li>
        <li><strong>Portátil</strong>: Leve para onde você for, sem necessidade de internet.</li>
        <li><strong>Segura</strong>: Transações criptografadas para sua segurança e a de seus clientes.</li>
        <li><strong>Suporte ao cliente</strong>: Equipe qualificada para te ajudar em qualquer dúvida.</li>
        <li><strong>Relatórios de vendas</strong>: Acompanhe suas vendas em tempo real.</li>
      </ul>
      <button routerLink="/cadastrar/passo-1" class="botao-banner">Seja CapiBank</button>
    </div>

    <img src="../../../assets/banner/capibank-cartao2.png" alt="">

  </article>


</section>
