.container {
  margin: auto;
  border-radius: 25px 25px 0px 0px;
  margin-top: -55px;
  background: white;
  padding: 0 !important;
  height: 100svh;
}

.p-4 {
    padding-top: 8px !important;
}


.form-title {
    display: flex;
    color: var(--cor-azul-escuro);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.41px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 100vw;
    margin-bottom: 30px;
    position: relative;
}

.section-title {
  display: flex;
  color: var(--cor-azul-escuro);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.41px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;

  max-width: 100vw;
  margin-bottom: 30px;
  position: relative;
}

.section-title::after {
  content: "";
  border-bottom: 4px solid var(--cor-dourado);
  position: absolute;
  bottom: -5px;
  height: 64px;
  left: 0;
  right: 0;
  background: rgba(128, 128, 128, 0.064);
  border-radius: 25px 25px 0px 0px;
}

.buttons {
  justify-content: center;
  gap: 20px;
  margin: auto;
  max-width: 80%;
  /* width: 378px; */
}


@media screen and (max-width: 744px) {
  .container {
    margin-top: -27px;
    max-width: 100vw;
    margin-left: 0;
  }
}
