.container{
    max-width: 744px;
    margin:auto;
    border-radius: 25px 25px 0px 0px;
    margin-top: -55px;
    background: white;
  }

  .forgot-password {
    color: var(--cor-azul-escuro);
    text-decoration: none;
  }

  .register {
    color: black;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 19.5px;
  }

  .account {
    color: var(--cor-cinza);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
  }

  .p-4 {
    padding-top: 8px !important;
  }

  .section-title {
    display: flex;
    color: var(--cor-azul-escuro);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.41px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }

  .confirm-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  .section-title::after {
    content: "";
    border-bottom: 4px solid var(--cor-dourado);
    position: absolute;
    bottom: -5px;
    height: 64px;
    width: 744px;
    max-width: 100vw;
    background: rgba(128, 128, 128, 0.064);
    border-radius: 25px 25px 0px 0px;
  }

  .form-login {
    margin-top: 30px;
  }

  .buttons > * {
    margin: 7px 0;
    max-width: 378px;
  }

  input {
    font-size: 13px;
    padding: 22px 12px;
    background: rgba(128, 128, 128, 0.017);
    max-width: 378px;
    margin: auto;
  }

  .form-group {
    margin-bottom: .7rem;
  }

  .email, .password {
    margin-right: 40px;
    margin-left: 20px;
  }

  .forgot-password {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 30px 0px;
  }
  @media screen and (min-width: 745px) {
    .botao-secundario {
      display: none;
    }

    form {
      margin-top: 50px;
    }
  }
