<main>


    <app-cabecalho-login></app-cabecalho-login>
    <router-outlet></router-outlet>
    <!-- Primeira Página -->
    <!-- <app-formulario-criar-conta-pg-um></app-formulario-criar-conta-pg-um> -->

    <!-- Segunda Página  -->
    <!-- <app-formulario-criar-conta-pg-dois></app-formulario-criar-conta-pg-dois> -->

    <!-- Terceira Página  -->
    <!-- <app-formulario-criar-conta-pg-tres></app-formulario-criar-conta-pg-tres> -->

    <!-- Quarta Página / Final -->
    <!-- <app-formulario-criar-conta-pg-quatro></app-formulario-criar-conta-pg-quatro> -->

    <!-- Footer  -->
    <app-rodape-login></app-rodape-login>
</main>
