<section class="container">
  <nav class="sidebar flex">
    <a class="nav-link" routerLink="/cliente">
      <img src="../../../assets/icones/icone-inicio-azul.png"><p>Início</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" routerLink="/historico">
      <img src="../../../assets/icones/icone-transacoes-azul.png"><p>Transações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" routerLink="/login">
      <img src="../../../assets/icones/icone-cartoes-azul.png" ><p>Meus Cartões</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" routerLink="/login">
      <img src="../../../assets/icones/icone-config-azul.png" ><p>Configurações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" routerLink="/login">
      <img src="../../../assets/icones/icone-contato.png"><p>Contatos</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
    <a class="nav-link" routerLink="/login">
      <img src="../../../assets/icones/icone-compartilhar-azul.png"><p>Compartilhe</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">
    </a>
  </nav>
</section>
