<div class="container">
    <nav class="nav flex-column">
        <a class="nav-link" href="#">
            <i >
                <img src="../../../assets/icones/icone-inicio-cinza.png" width="20" height="20">
            </i>
            Início
        </a>
        <a class="nav-link" href="#">
            <i>
                <img src="../../../assets/icones/icone-transacoes-cinza.png" width="20" height="20">
            </i>
            Transações
        </a>
        <a class="nav-link" href="#">
            <i>
                <img src="../../../assets/icones/icone-cartoes-cinza.png"  width="20" height="20">
            </i>
            Meus Cartões
        </a>
        <a class="nav-link" href="#">
            <i>
                <img src="../../../assets/icones/icone-config-cinza.png"  width="20" height="20">
            </i>
            Configurações
        </a>
        <a class="nav-link" href="#">
            <i>
                <img src="../../../assets/icones/icone-contato.png" width="20" height="20">
            </i>
            Contatos
        </a>
        <a class="nav-link" href="#">
            <i>
                <img src="../../../assets/icones/icone-compartilhar-azul.png" width="20" height="20">
            </i>
            Compartilhe
        </a>
      </nav>
</div>