<section class="container">
  <nav class="sidebar flex">
      <a class="nav-link" href="#">

              <img src="../../../assets/icones/icone-inicio-azul.png" width="20" height="20"><p>Início</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">

      </a>
      <a class="nav-link" href="#">

              <img src="../../../assets/icones/icone-transacoes-azul.png" width="20" height="20"><p>Transações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">

      </a>
      <a class="nav-link" href="#">

              <img src="../../../assets/icones/icone-cartoes-azul.png"  width="20" height="20"><p>Meus Cartões</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">

      </a>
      <a class="nav-link" href="#">

              <img src="../../../assets/icones/icone-config-azul.png"  width="20" height="20"><p>Configurações</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">

      </a>
      <a class="nav-link" href="#">

              <img src="../../../assets/icones/icone-contato.png" width="20" height="20"><p>Contatos</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">

      </a>
      <a class="nav-link" href="#">

              <img src="../../../assets/icones/icone-compartilhar-azul.png" width="20" height="20"><p>Compartilhe</p><img class="arrow-img" src="../../../assets/icones/icone-seta-expandir.png">

      </a>
  </nav>
</section>
