.container{
   padding-top: 50px;
    border-right: 1px solid;
    width: 190px;
    margin-left:20px;
    height: 100vh;
   
}
.container a{
    color: black;
    font-size: 0.8rem;
}
.container img{
   width: 30px;
}