<div class="container-form p-4">

  <h6 class="section-title">Abra sua conta</h6>

  <form  >
    <div class="form-group">

        <p class="form-title">Qual o tipo de conta voce quer abrir?</p>

        <div class="buttons flex">
          <button routerLink="/cadastrar/passo-4"  class="botao-principal">
            Conta Corrente
          </button>
          <button disabled class="botao-principal">
            Conta Empresarial
          </button>
          <button disabled class="botao-principal">
            Conta Poupança
          </button>
        </div>

    </div>

  </form>

</div>


