.transacoes {
  max-height: 100vh;
  overflow: hidden;
}

.grid {
  grid-template-areas:
  "busca busca"
  "historico-transacoes historico-transacoes";
  gap: 16px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7% 90%;
  padding: 0;
}

app-barra-de-busca {
  grid-area: busca;
  max-height: 80px;
}

app-menu-lateral {
  grid-area: menu-lateral;
}

app-historico-transacoes {
  grid-area: historico-transacoes;
  height: 72vh;
  overflow-y: scroll;
}

@media (max-width: 745px) {
  app-menu-lateral {
    position: absolute;
    top: 55px;
    transform: translateX(-2000px);
    transition: transform 0.3s ease;
  }

  .menu-open {
    transform: translateX(0);
  }
}

@media (min-width: 746px)  {
  .grid {
    grid-template-areas:
    "menu-lateral busca"
    "menu-lateral historico-transacoes";
  }

}
