<div class="container p-4">

    <h6 class="section-title">Abra sua conta</h6>

    <form [formGroup]="entradaCep" >
      <div class="form-group">

          <p class="form-title">Onde Você Mora?</p>

          <input formControlName="cep"
          type="text"
          class="form-control"
            placeholder="CEP"
            (blur)="buscarEndereco()"

          />

          <input type="text"
          class="form-control"
            formControlName="rua"
            placeholder="Rua"
              />
            <input type="text"
            class="form-control"
              formControlName="numero"
              placeholder="Número"
              />
            <input type="text"
            class="form-control"
              formControlName="cidade"
              placeholder="Cidade" readonly
              />
            <input type="text"
            class="form-control"
              formControlName="complemento"
              placeholder="Complemento (opcional)"
            />
      </div>

      <div class="buttons text-center d-flex gap-3 mt-5">
        <button routerLink="/cadastrar/passo-1"  type="submit" class="btn botao-secundario btn-lg btn-criar-conta">
          Voltar
        </button>
        <button routerLink="/cadastrar/passo-3"  type="submit" class="btn botao-principal btn-lg btn-criar-conta">
          Próximo
        </button>
      </div>

    </form>

  </div>


