<div class="container-form p-4">

    <h6 class="create-account">Abra sua conta</h6>

    <form>
      <div class="form-group">

        <p class="title-form">Onde Você Mora?</p>

        <input
          type="text"
          class="form-control"
          id="cep"
          placeholder="CEP"
        />

        <input
          type="text"
          class="form-control"
          id="rua"
          placeholder="Rua"
        />

        <input
          type="text"
          class="form-control"
          id="numero"
          placeholder="Número"
        />

        <input
          type="text"
          class="form-control"
          id="cidade"
          placeholder="Cidade"
        />

        <input
          type="text"
          class="form-control"
          id="complemento"
          placeholder="Complemento (opcional)"
        />
      </div>

      <div class="buttons justify-content-center text-center d-flex gap-3 mt-5">
        <button routerLink="/cadastrar/passo-1"  type="submit" class="btn botao-secundario btn-lg btn-criar-conta">
          Voltar
        </button>
        <button routerLink="/cadastrar/passo-3"  type="submit" class="btn botao-principal btn-lg btn-criar-conta">
          Próximo
        </button>
      </div>

    </form>

  </div>


