footer {
    background-color: rgba(128, 128, 128, 0.086);
    position: absolute;
    bottom: 0;
    color: black;
    width: 100%;
    max-width: 50vw;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cadeado {
    width: 14px;
    margin-right: 2px;
}

@media (max-width: 744px) {

  footer {
    width: 100%;
    max-width: 100vw;
    height: 50px;
  }
}
